pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

.idea/
*.iml
classpath.txt
figwheel_server.log
node_modules/
out/
resources/public/js/